networks:
  adcontrol-network:
    driver: bridge
    name: adcontrol-network
    
services:
  postgres:
    container_name: postgres
    image: postgres:15
    environment:
      POSTGRES_DB: adcontrol
      POSTGRES_USER: aduser
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U aduser -d adcontrol"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - adcontrol-network

  redis:
    container_name: redis
    image: redis:7
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - adcontrol-network

  minio:
    container_name: minio
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minioaccess
      MINIO_ROOT_PASSWORD: miniosecret
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
    networks:
      - adcontrol-network

  adcontrol-auth:
    container_name: adcontrol-auth
    build:
      context: .
      dockerfile: ./Server/AdControl.Auth/Dockerfile
      target: dev
    healthcheck:
      disable: true
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=adcontrol;Username=aduser;Password=secret
      - ASPNETCORE_URLS=https://+:5003
      - ASPNETCORE_PORT=5003
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/adcontrol.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - KEYCLOAK_DEFAULT_ADMIN=admin
      - KEYCLOAK_DEFAULT_PASSWORD=qwerty
      - CERT_PATH=/https/cert.pfx
      - CERT_PASSWORD=z 
    ports:
      - "5003:5003"
    depends_on:
      keycloak:
        condition: service_started
      postgres:
        condition: service_healthy
    volumes:
      - ${USERPROFILE}/.aspnet/https/adcontrol.pfx:/https/adcontrol.pfx:ro
    networks:
      - adcontrol-network
    restart: always

  adcontrol-web:
    container_name: adcontrol-web
    build:
      context: .
      dockerfile: ./Server/AdControl.Web/AdControl.Web/Dockerfile
      target: dev
    healthcheck:
      disable: true
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=adcontrol;Username=aduser;Password=secret
      - ASPNETCORE_URLS=https://+:5001
      - ASPNETCORE_PORT=5001
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/adcontrol.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - CERT_PATH=/https/cert.pfx
      - CERT_PASSWORD=z 
    ports:
      - "5001:5001"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ${USERPROFILE}/.aspnet/https/adcontrol.pfx:/https/adcontrol.pfx:ro
    networks:
      - adcontrol-network
    restart: always

  adcontrol-avalonia-logic:
    container_name: adcontrol-avalonia-logic
    build:
      context: .
      dockerfile: Server/AdControl.Avalonia.Logic/AdControl.Avalonia.Logic/Dockerfile
    environment:
      - Redis__Url=redis:6379
      - ASPNETCORE_URLS=http://+:5002
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=adcontrol;Username=aduser;Password=secret
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/adcontrol.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_PORT=5002
      - CERT_PATH=/https/cert.pfx
      - CERT_PASSWORD=z 
    ports:
      - "5002:5002"
    depends_on:
      redis:
        condition: service_healthy
      adcontrol-web:
        condition: service_started
    volumes:
      - ${USERPROFILE}/.aspnet/https/adcontrol.pfx:/https/adcontrol.pfx:ro
    networks:
      - adcontrol-network
    restart: always

  adcontrol-gateway:
    container_name: adcontrol-gateway
    build:
      context: .
      dockerfile: Server/AdControl.Gateway/AdControl.Gateway/Dockerfile
    environment:
      - Grpc__ScreenService=https://adcontrol-web:5001
      - Grpc__AvaloniaLogicService=https://adcontrol-avalonia-logic:5002
      - Grpc__FileService=https://adcontrol-web:5001
      - Redis__Url=redis:6379
      - Minio__Endpoint=minio:9000
      - Minio__AccessKey=minioaccess
      - Minio__SecretKey=miniosecret
      - ASPNETCORE_URLS=http://+:5000
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/adcontrol.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_PORT=5000
    ports:
      - "5000:5000"
    depends_on:
      redis:
        condition: service_healthy
      minio:
        condition: service_started
    volumes:
      - ${USERPROFILE}/.aspnet/https/adcontrol.pfx:/https/adcontrol.pfx:ro
    networks:
      - adcontrol-network
    restart: always

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:21.0.1
    command:
      - start-dev
      - --log-level=DEBUG
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: aduser
      KC_DB_URL_DATABASE: adcontrol
      KC_DB_PASSWORD: secret
      KC_METRICS_ENABLED: "true"

      KC_HOSTNAME: advertcontrol.ru
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_PROXY: edge
      KC_HTTP_ENABLED: "true"

    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/health/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

    ports:
      - "8080:8080"

    depends_on:
      postgres:
        condition: service_healthy

    networks:
      - adcontrol-network

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      - minio
    volumes:
      - miniodata:/data
    entrypoint: ["sh", "-c", "mc alias set local http://minio:9000 minioaccess miniosecret && mc mb --ignore-existing local/files && mc anonymous set download local/files"]

volumes:
  pgdata:
  redisdata:
  miniodata:
  
