services:
  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:21.0.1
    command:
      - start-dev
      - --log-level=DEBUG
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: aduser
      KC_DB_URL_DATABASE: adcontrol 
      KC_DB_PASSWORD: secret
      KC_METRICS_ENABLED: "true"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/health/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
