networks:
  adcontrol-network:
    driver: bridge
    name: adcontrol-network
    
services:
  postgres:
    container_name: postgres
    image: postgres:15
    environment:
      POSTGRES_DB: adcontrol
      POSTGRES_USER: aduser
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL","pg_isready -U aduser -d adcontrol"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - adcontrol-network

  redis:
    container_name: redis
    image: redis:7
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD","redis-cli","ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - adcontrol-network

  minio:
    container_name: minio
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: minioaccess
      MINIO_ROOT_PASSWORD: miniosecret
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
    networks:
      - adcontrol-network

  adcontrol-auth:
    container_name: adcontrol-auth
    image: hub.66bit.ru/urfu-2025/advertising-screen-management-system/adcontrol-auth:latest
    healthcheck:
      disable: true
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=adcontrol;Username=aduser;Password=secret
      - ASPNETCORE_URLS=https://+:5003
      - ASPNETCORE_PORT=5003
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=z
      - KEYCLOAK_DEFAULT_ADMIN=admin
      - KEYCLOAK_DEFAULT_PASSWORD=qwerty
      - CERT_PATH=/https/cert.pfx
      - CERT_PASSWORD=z 
    ports:
      - "5003:5003"
    depends_on:
      keycloak:
        condition: service_started
      postgres:
        condition: service_healthy
    volumes:
      - /home/sobaka/certs/cert.pfx:/https/cert.pfx:ro
    networks:
      - adcontrol-network
    restart: always

  adcontrol-web:
    container_name: adcontrol-web
    image: hub.66bit.ru/urfu-2025/advertising-screen-management-system/adcontrol-web:latest
    healthcheck:
      disable: true
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=adcontrol;Username=aduser;Password=secret
      - ASPNETCORE_URLS=https://+:5001
      - ASPNETCORE_PORT=5001
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=z
      - CERT_PATH=/https/cert.pfx
      - CERT_PASSWORD=z 
    ports:
      - "5001:5001"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - /home/sobaka/certs/cert.pfx:/https/cert.pfx:ro
    networks:
      - adcontrol-network
    restart: always

  adcontrol-avalonia-logic:
    container_name: adcontrol-avalonia-logic
    image: hub.66bit.ru/urfu-2025/advertising-screen-management-system/adcontrol-avalonia-logic:latest
    environment:
      - Redis__Url=redis:6379
      - ASPNETCORE_URLS=http://+:5002
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=adcontrol;Username=aduser;Password=secret
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/cert.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=z
      - ASPNETCORE_PORT=5002
      - CERT_PATH=/https/cert.pfx
      - CERT_PASSWORD=z 
    ports:
      - "5002:5002"
    depends_on:
      redis:
        condition: service_healthy
      adcontrol-web:
        condition: service_started
    volumes:
      - /home/sobaka/certs/cert.pfx:/https/cert.pfx:ro
    networks:
      - adcontrol-network
    restart: always

  adcontrol-gateway:
    container_name: adcontrol-gateway
    image: hub.66bit.ru/urfu-2025/advertising-screen-management-system/adcontrol-gateway:latest
    environment:
      - Grpc__ScreenService=https://adcontrol-web:5001
      - Grpc__AvaloniaLogicService=https://adcontrol-avalonia-logic:5002
      - Grpc__FileService=https://adcontrol-web:5001
      - Redis__Url=redis:6379
      - Minio__Endpoint=minio:9000
      - Minio__AccessKey=minioaccess
      - Minio__SecretKey=miniosecret
      - ASPNETCORE_URLS=http://+:5000
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_PORT=5000
    ports:
      - "5000:5000"
    depends_on:
      redis:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - adcontrol-network
    restart: always

  keycloak:
    container_name: keycloak
    image: quay.io/keycloak/keycloak:21.0.1
    command:
      - start-dev
      - --log-level=DEBUG
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: aduser
      KC_DB_URL_DATABASE: adcontrol
      KC_DB_PASSWORD: secret
      KC_METRICS_ENABLED: "true"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/health/ready || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - adcontrol-network

volumes:
  pgdata:
  redisdata:
  miniodata:
